<!-- _includes/navigation.html -->
<a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Главная</a>
<a href="{{ '/wiki/' | relative_url }}" {% if page.url contains '/wiki/' %}class="active"{% endif %}>Вики</a>
<a href="{{ '/projects/' | relative_url }}" {% if page.url contains '/projects/' %}class="active"{% endif %}>Проекты</a>
<a href="{{ '/tasks/' | relative_url }}" {% if page.url contains '/tasks/' %}class="active"{% endif %}>Задачи</a>
<a href="{{ '/utilities/' | relative_url }}" {% if page.url contains '/utilities/' %}class="active"{% endif %}>Утилиты</a>
